@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 1em;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #f05941;
  cursor: pointer;
}
